<section id="aa-banner" in-view="banner()">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="aa-banner-area">
						<a href="#"><img src="{{fashionBanner.thumbnail}}"
							alt="fashion banner img"></a>
					</div>
					<div class="wpf-loader-two">
						<div class="wpf-loader-two-inner">
							<span>Loading</span> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- popular section -->
  <section id="aa-popular-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-popular-category-area" in-view="init('init')">
              <!-- start prduct navigation -->
             <ul class="nav nav-tabs aa-products-tab">
                <li class="active"  ng-click="init('Popular')"><a href="#popular" data-toggle="tab">Popular</a></li>
                <li ng-click="init('Featured')"><a href="#featured" data-toggle="tab">Featured</a></li>
                <li ng-click="init('Latest')"><a href="#latest" data-toggle="tab">Latest</a></li>                    
              </ul>
              <!-- Tab panes -->
              <div class="tab-content" in-view="feedback()">
                <!-- Start men popular category -->
                <div class="tab-pane fade in active" id="popular">
                  <ul class="aa-product-catg aa-popular-slider">
                    <!-- start single product item -->
                    <li ng-repeat="product in products">
                      <figure>
                        <a class="aa-product-img" href="#"><img src="{{product.thumbnail}}" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="#">{{product.title}}</a></h4>
                          <span class="aa-product-price">$ {{product.price}}</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                    </li>
                     <!-- start single product item -->                                         
                  </ul>
                  <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                </div>       
              </div>
              <div class="wpf-loader-two">
                <div class="wpf-loader-two-inner">
       				 <span>Loading</span>
      			</div>
               </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </section>
  <!-- / popular section -->